<div class="main">
	<div class="container-left">
		<div class="auth-content">
			<h1>Authentification</h1>
			<form>
				<div class="input-field">
					<input id="email" type="text" required>
					<label for="email">Email</label>
				</div>
				<div class="input-field">
					<input id="password" type="password" required>
					<label for="password">Mot de passe</label>
				</div>
				<div class="button-form">
					<button class="custom-btn btn-sign-in" type="submit">Se connecter</button>
				</div>
			</form>
			<button class="custom-btn btn-sign-up" routerLink="/register">S'inscire</button>
		</div>
	</div>
	<div class="container-right">
		<div class="text-content">
			<h1>Filagram</h1>
			<p>Un réseau social simple d'utilisation crée et pensé par Jean GOUA</p>
		</div>
	</div>
</div>