.main {
	display: flex;
	height: 100vh;
}

h1 {
	letter-spacing: 1px;
	font-weight: 700;
}

.text-content {
	margin-left: 35px;
	margin-top: 35px;
	color: white;
}

.container-left {
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	form {
		margin: 10px;
	}
}

.auth-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-right {
	width: 60%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../../../../assets/img/auth-background.png");
	z-index: -1;
}

// Input form
.input-field {
	margin-bottom: 20px;
	position: relative;
	width: 250px;
	height: 44px;
	line-height: 44px;
}
label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #d3d3d3;
	transition: 0.2s all;
	cursor: text;
}
input {
	width: 100%;
	border: 0;
	outline: 0;
	padding: 0.5rem 0;
	border-bottom: 2px solid #d3d3d3;
	box-shadow: none;
	color: #111;
}
input:invalid {
	outline: 0;
	// color: #ff2300;
	//   border-color: #ff2300;
}
input:focus,
input:valid {
	border-color: #00dd22;
}
input:focus ~ label,
input:valid ~ label {
	font-size: 14px;
	top: -24px;
	color: #00dd22;
}

// button
.custom-btn {
	width: 60%;
	height: 40px;
	margin-top: 10px;
	font-family: "Montserrat";
	font-weight: 600;
	padding: 10px 25px;
	border: 2px solid #000;
	background: transparent;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
}

.btn-sign-in {
	background: #000;
	color: #fff;
	line-height: 42px;
	padding: 0;
	border: none;
}
.btn-sign-in:hover {
	background: transparent;
	color: #000;
	box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
.btn-sign-in:before,
.btn-sign-in:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #000;
	transition: 400ms ease all;
}
.btn-sign-in:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.btn-sign-in:hover:before,
.btn-sign-in:hover:after {
	width: 100%;
	transition: 700ms ease all;
}

.btn-sign-up:hover {
	transition-duration: 0.4s;
	background-color: black; /* Green */
	color: white;
}
